<div class="wrapper-content">
    <header><h1>Potential Ride Requests</h1>
      <h6>(This page is for drivers)</h6>
    </header>
    <hr>
    <div id="ride-requests">
        {{#each potentialRideRequests}}
            <div class="rideRequest">
                <h1>{{this.riderEmail}} is looking for a Driver</h1>
                <p>
                    Rider Email: {{this.riderEmail}}<br>
                    Event: {{this.event}}<br>
                    Time/Date: {{this.timeDate}}<br>
                    Pick Up Address: {{this.location}}<br>
                    Payment: ${{this.payment}}<br>
                </p>
                <form action="/driverAccept" method="POST">
                    <input type="hidden" name="rideIndex" value="{{this.rideIndex}}" />
                    <input type="hidden" name="mainList" value="{{this.mainList}}" />
                    <input type="hidden" name="rideIdNum" value="{{this.rideId}}" />
                    <input type="hidden" name="currentScreen" value="accept" />
                    <button type="submit">Accept</button>
                </form>
            </div>
        {{/each}}
    </div>
</div>

