<div class="current-rides">
    <header><h1>Current Rides</h1></header>
      </div>
    <br>
    <br>
    <div class="wrapper-confirmed">
    <div id="Confirmed-Rides">
      <h2>Confirmed</h2>
        {{#each userConfirmedRides}}
            <div class="confirmedRide">
                <p>
                    Potential Driver's Email: {{this.driverEmail}}<br>
                    Rider Email: {{this.riderEmail}}<br>
                    Event: {{this.event}}<br>
                    Time/Date: {{this.timeDate}}<br>
                    Location: {{this.location}}<br>
                    Payment: ${{this.payment}}<br>
                </p>
                <form action="/deleteConfirmedRide" method="POST">
                    <input type="hidden" name="deleteConfirmedIndex" value="{{this.rideIndex}}" />
                    <button type="submit">Delete Ride</button>
                </form>
            </div>
        {{/each}}
    </div>
    </div>
    <div class="wrapper-requested">
        <div id="Requested-Rides">
            <h2>Your Requested</h2>
            {{#each userRequestedRides}}
                <div class="confirmedRide">
                    <p>
                        Event: {{this.event}}<br>
                        Time/Date: {{this.timeDate}}<br>
                        Location: {{this.location}}<br>
                        Payment: ${{this.payment}}<br>
                    </p>
                    <form action="/deleteConfirmedRide" method="POST">
                        <input type="hidden" name="deleteConfirmedIndex" value="{{this.rideIndex}}" />
                        <button type="submit">Delete Ride</button>
                    </form>
                </div>
            {{/each}}
      </div>
    </div>
    <div class="wrapper-possible">
    <div id="Possible-Drivers">
        <h2>Accepted Rides</h2>
        {{#each userAcceptedRides}}
            <div class="potentialRide">
                <h3>{{this.driverEmail}} wants to drive you!</h3>
                    <p>
                        Potential Driver's Email: {{this.driverEmail}}<br>
                        Rider Email: {{this.riderEmail}}<br>
                        Event: {{this.event}}<br>
                        Time/Date: {{this.timeDate}}<br>
                        Location: {{this.location}}<br>
                        Payment: ${{this.payment}}<br>
                    </p>
                <form action="/riderAccept" method="POST">
                    <input type="hidden" name="driverAcceptIndex" value="{{this.rideIndex}}" />
                    <button type="submit">Accept Driver</button>
                </form>
            </div>
        {{/each}}
    </div>
    </div>